@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, sans-serif;
  color: #fff;
}

:root {
  --index: calc(1vh + 1vw);
}

body {
  background-color: #0f0f0f;
}
html {
  scroll-behavior: smooth;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--index) * 2) 0 0;
  background: #0f0f0f;
}

nav .logo-menu {
  display: flex;
  align-items: center;
  gap: calc(var(--index) * 0.9);
  padding: 14px 14px;
}

nav .icon-name {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 25px;
}

nav .icon-name h3 {
  font-size: 11px;
  font-weight: 900;
  transform: scaleY(2) scaleX(1.2);
}

nav .logo-menu .menu button {
  background: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

nav :where(.searchWin, .search-input, .setting-profile) {
  display: flex;
  align-items: center;
}

nav .search-input {
  gap: 10px;
}

nav .searchWin {
  justify-content: space-between;
  gap: 20px;
  border: 1px solid hsl(0, 0%, 18.82%);
  border-radius: 40px;
  padding: 0 0 0 13px;
}

nav .searchWin input {
  width: 30vw;
  background: none;
  font-size: 16px;
  font-weight: 300;
}

nav .searchWin input::placeholder {
  font-weight: 430;
}

nav .searchWin .button-glass button {
  border: 1px solid hsl(0, 0%, 18.82%);
  background-color: hsla(0, 0%, 100%, 0.08);
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  height: 35px;
  width: 64px;
  font-size: 17px;
}

nav .searchWin .button-glass button i {
  filter: invert(50%);
}

nav .microphone button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 17px;
  font-weight: lighter;
  background-color: hsla(0, 0%, 100%, 0.08);
}

nav .input-keyboard {
  display: flex;
  align-items: center;
}
nav .input-keyboard i {
  filter: invert(50%);
}

nav .setting-profile {
  gap: 5px;
}

:is(nav .setting-profile .profile, .shorts-page, .sidebar .sign-btn)
  button:hover {
  background-color: #3ea5ff3b;
}

:is(nav .setting-profile, .sidebar, .shorts-page) .profile button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 7px 20px 7px 10px;
  border-radius: 40px;
  color: #3ea6ff;
  font-weight: 450;
  font-size: 15px;
}

:is(nav, .sidebar, .shorts-page) .profile button i {
  color: #3ea6ff;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

nav .hover-setting button {
  background: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 15px;
}

.sidebar {
  max-height: 95vh;
  width: 240px;
  position: fixed;
  left: 0;
  top: 50px;
  overflow-y: auto;
  background: #0f0f0f;
}

.sidebar :where(.links) {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sidebar :is(.links, .navigators, .others) ul li a {
  padding: 0 10px;
  width: 204px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 15px;
}

.sidebar .links li img {
  width: 17px;
  filter: invert(100%);
}

.others li img.kids {
  width: 30px;
}

.sidebar :is(.navigators) li img {
  width: 20px;
  filter: invert(100%);
}

.sidebar .links li .subs {
  width: 20px;
}
.sidebar .links li .lib {
  width: 20px;
}

.sidebar .links ul:first-child {
  margin-top: 20px;
}

.sidebar :is(.links, .navigators, .others) ul {
  margin-top: 10px;
  padding: 0 20px 17px;
  border-bottom: 1px solid #cccccc41;
}

.sidebar :is(.links, .navigators, .others) .active {
  border-radius: 10px;
  background-color: #cccccc1f;
}

.middle {
  margin: 126px 0 0 270px;
  max-height: 100vh;
  width: 100%;
}

.sidebar :is(.links, .navigators, .others) a:hover {
  border-radius: 10px;

  background-color: #cccccc1f;
}

header {
  width: 100vw;
  overflow-x: auto;
  position: fixed;
  top: 50px;
  left: 260px;
  background: #0f0f0f;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 12px;
}

header button {
  color: #fff;
  padding: 9px 12px;
  border-radius: 9px;
  background-color: #ffffff19;
  font-size: 14px;
  font-weight: 400;
}

header button:hover {
  background-color: #fff;
  color: #0f0f0f;
}

.sign-in {
  padding: 13px 35px 20px;
  border-bottom: 1px solid #cccccc41;
}

.sign-in .subtitle p {
  line-height: 20px;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}

:is(.navigators, .others) .title {
  padding: 17px 30px 0;
  font-size: 16px;
  font-weight: 400;
}

.sidebar::-webkit-scrollbar {
  display: none;
  background: none;
  width: 7px;
}

html::-webkit-scrollbar {
  background: none;
  width: 10px;
}

.middle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: gray;
}

.sidebar:hover::-webkit-scrollbar {
  display: block;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.videoCards {
  max-width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5 - 20px));
  /* flex-wrap: wrap; */
  /* display: flex; */
  gap: 50px 20px;
}

.videoCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  width: 100%;
}

.videoCard img {
  width: 100%;
  border-radius: 10px;
}

.profile-photo .flex-title {
  display: flex;
  gap: 10px;
}

.profile-photo .video-title h4 {
  height: 40px;
  overflow-y: hidden;
}

.profile-photo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author-views {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 50px;
  font-weight: 300;
}

.author-views p {
  font-size: 13px;
  color: gray;
  font-weight: 500;
}

.published p {
  display: flex;
  word-spacing: 3px;
  font-size: 14px;

  color: gray;
  font-weight: 500;
  transform: translate(50px);
}

.videoContain {
  width: 100%;
  position: relative;
}

.videoContain iframe {
  width: calc(100vw / 1.5);
  height: calc(100vh / 1.5);
  z-index: 100;
}

.historyIN {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.historyCards {
  border-top: 1px solid #cccccc3c;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.historyCard a {
  gap: 13px;
  display: flex;
}

.history-title {
  width: 450px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.historyCard img {
  width: 270px;
  border-radius: 15px;
}

.history-views {
  justify-content: flex-start;
  display: flex;
  gap: 8px;
  font-size: 13px;
}

.shorts-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20%;
}

.libIN {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.libCards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.libCard {
  width: calc(100% / 6);
}

.libCard .preview img {
  width: 100%;
}

.lib-title p {
  font-size: 10px;
}

.libIN .title {
  display: flex;

  gap: 8px;
}

.libIN .title img {
  width: 20px;
  filter: invert(100%);
}

.videoContain {
  display: flex;
}

.recomendations {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.recomendation {
  display: none;
}

.videoContain .recomendation {
  display: block;
}

.videoContain .recomendation img {
  border-radius: 10px;
  width: 150px;
}

.videoContain .recomendation a {
  display: flex;
  gap: 5px;
}

.videoContain .recomendation .video-title h6 {
  font-size: 10px;
}

.videoContain .recomendation .video-title .author p {
  color: gray;
  font-size: 10px;
}

.videoContain.sidebar {
  display: none;
}

.videoContain .author-setting {
  display: flex;
  align-items: center;
 gap: 17px;
}

.videoContain .author-setting img {
  border-radius: 50%;
}

@media (max-width: 1901px) {
  .videoCards {
    grid-template-columns: repeat(4, calc(100% / 4 - 20px));
  }

  .author-published {
    display: flex;
  }

  .author-published .author-views {
    display: flex;
  }
}

@media (max-width: 1575px) {
  .videoCards {
    grid-template-columns: repeat(3, calc(100% / 3 - 20px));
  }
  .author-published {
    display: flex;
    flex-direction: column;
  }

  .author-published .author-views {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1313px) {
  .sidebar {
    transition: 0.3s;
    height: 95vh;
    width: 64px;
  }

  .sidebar :where(.links) ul li a {
    flex-direction: column;
  }

  .sidebar :is(.links) ul li a {
    width: 60px;
    height: 54px;
    font-size: 11.5px;
    gap: 7px;
    align-items: center;
    justify-content: center;
  }

  .sidebar :is(.links) ul {
    padding: 0 4px;
  }

  .sidebar .sign-in {
    display: none;
  }

  .sidebar :where(.navigators, .others) {
    display: none;
  }

  .middle {
    margin: 126px 0 0 86px;
  }

  header {
    left: 76px;
  }

  .sidebar.open :where(.navigators, .others, .sign-in) {
    display: block;
  }

  .sidebar.open {
    width: 240px;
  }

  .sidebar.open :where(.links) ul li a {
    flex-direction: row;
  }

  .sidebar.open :is(.links) ul li a {
    width: 204px;
    height: 40px;
    font-size: 15px;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
  }

  .sidebar.open :is(.links) ul {
    padding: 0 20px 17px;
  }
}

@media (max-width: 1082px) {
  .videoCards {
    grid-template-columns: repeat(2, calc(100% / 2 - 20px));
  }
  .author-published {
    flex-direction: row;
    align-items: flex-end;
    gap: 6px;
  }

  .published p {
    transform: translate(0, 2px);
  }
}

@media (max-width: 915px) {
  .videoContain {
    flex-direction: column;
    gap: 30px;
  }

  .videoContain iframe {
    width: 100vw;
  }

  .videoContain .recomendation a {
    flex-direction: column;
    gap: 10px;
  }

  .videoContain .recomendation img {
    border-radius: 10px;
    width: 100%;
  }

  .videoContain .recomendation .video-title h6 {
    font-size: 20px;
  }

  .videoContain .recomendation .video-title .author p {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .videoCards {
    grid-template-columns: repeat(1, calc(100% / 1));
  }

  .sidebar {
    transform: translate(-100%);
  }

  .sidebar :where(.navigators, .others) {
    display: block;
  }

  .sidebar {
    width: 240px;
  }

  .sidebar :where(.links) ul li a {
    flex-direction: row;
  }

  .sidebar :is(.links) ul li a {
    width: 204px;
    height: 40px;
    font-size: 15px;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
  }

  .sidebar :is(.links) ul {
    padding: 0 20px 17px;
  }

  .sidebar.open {
    transform: translate(0);
  }

  header {
    left: 0;
  }

  .middle {
    margin: 140px 10px 0;
  }

  .setting-profile {
    display: none;
  }

  nav {
    padding: 0 5px 0 5px;
  }
}
